html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.button{
  background: grey;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px;

}

.pen__details{
  color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items : start;
  align-items: end;
}

.pen__author{
  color: grey;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

.pen{
  display: grid;
  grid-template-columns: 3fr auto-fill;
  grid-auto-flow: column;
  background: black;
  align-items: center;
  justify-items: center;
  grid-gap: 4px;
}



.code{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

